body{
    background-color: darkcyan;
    align-items: center;

}
#PP {
    width: 80%;
    height: 80%;
    
}
#PN {
    text-align: center;
    font-size: xx-large;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
